@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #FFFF2D;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.6em;
  font-family: 'Vollkorn SC', serif;
}

.App-title.logo {
  font-size: 2em;
  font-family: 'Vollkorn SC', serif;
}

.App-intro {
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  width: 70%;
  margin: auto;
  padding: 20px;
}

p {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  width: 50%;
  margin: auto;
  line-height: 180%;
}

button {
  margin: 5px;
  color: black;
  border: solid black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

a.cat {
  width: 23%;
  display: inline-block;
  background-color: none;
  float: center;
  margin: 5px;
  color: black;
  border: solid black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

button.answer {
  width: 15%;
  background-color: #FFFF2D;
}
button.next {
  width: 18%;
  background-color: blue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
